Source: ros-melodic-radial-menu-backend
Section: misc
Priority: optional
Maintainer: Yoshito Okada <okada@rm.is.tohoku.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-nodelet, ros-melodic-pluginlib, ros-melodic-radial-menu-model, ros-melodic-radial-menu-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-radial-menu-backend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-nodelet, ros-melodic-pluginlib, ros-melodic-radial-menu-model, ros-melodic-radial-menu-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs
Description: The radial_menu_backend package
